{% extends "blog/base.html" %}
{% block content %}
  <article class="single content-section d-flex">
     <img src="{{ object.author.user_profile.profile_pic.url }}" alt="default image"
          class="rounded-circle mt-2 ml-2 mb-5 article-img" style="width: 95px; height: 100px">
     <div class="content body px-1 pt-1 ml-2">
        <div class="article-metadata my-1 mx-2">
           <a href="{% url 'profile' %}" class="text-primary">{{ object.author }}</a>
           <small class="text-muted">{{ object.date_posted|date:"F d Y" }}</small>
           {% if object.author == user %}
             <a href="{% url 'blog-update' object.pk %}" class="btn btn-secondary btn-sm ml-4">Update</a>
             <a href="{% url 'blog-delete' object.pk %}" class="btn btn-danger btn-sm ml-2">Delete</a>
           {% endif %}
           <hr class="mt-1 mb-0">
        </div>
        <h3 class="article-title ml-2">{{ object.title }}</h3>
        <p class="article-content mt-1 mx-2" style="font-family: Arial">{{ object.content }}</p>
     </div>
  </article>
{% endblock  %}